#imgrwc {
    width: 100%;
    margin: -100px 0px 100px 0px;    
}
#titolo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0a3b72;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.paragrafo {
    color: #0a3b72;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.tabellapunti {
    border-collapse: collapse;
}
.tdpuntidesc, .tdpuntinum, .trpunti {
    margin: 0;
    min-width: 50px;
    padding: 0;
    border: 1px solid white;
    color: #0a3b72;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    max-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tdpuntidesc {
    padding-left: 20px;
    padding-right: 20px;
}
.trpunti:hover {
    background-color: #0a3b72;
    border-color: #0a3b72;
}
.trpunti:hover td.tdpuntidesc, .trpunti:hover td.tdpuntinum {
    color: white;
}
#percorso {
    margin: 0 auto;
    display: block;
    align-items: center;
    width: 80%;
    height: auto;
}
.tdcontenuti {
    border-collapse: collapse;
    border: 10px solid white;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    background-color: #0a3b72;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    line-height: 50px;
}
td.tdcontenuti:hover {
    background-color: #00b7ff;
    
}
td.tdcontenuti:hover a{
    color: #0a3b72;
}
.collegamentocontenuti {
    text-decoration: none;
    color: white;
}
.divcontenuti {
    width: 300px;
    line-height: 150px;
}