* {
    margin: 0;
    padding: 0;
    top: 0;
}
#pagcorrente {
    border-bottom: 4px solid #0a3b72;
    border-collapse: collapse;
}
body {
    background-color: white;
}
#menu {
    position: fixed;
    display: block;
    color: #0a3b72;
    background-color: #bfbfbfb8;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    line-height: 100px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    list-style-type: none;
    float: left;
}
div#menu a{
    text-decoration: none;
    color: #0a3b72;
}
.elementimenu {
    font-size: 15px;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
.titolimenu {
    float: left;
    border: 1px;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    top: 0;
    z-index: 1;
}
div#menu li ul
{
display: none
}
div#menu li:hover ul {
    display: block; 
    position: absolute;
    padding: 0; 
    margin: 0;
    background-color: #bfbfbf7f;
    color: #0a3b72;
    border: 1px;
}
div#menu li:hover a.titolimenu{
    color: #00b7ff;
    border-bottom: 4px solid #00b7ff;
    border-collapse: collapse;
}
div#menu li {
    float: left;
    list-style-type: none;
}
div#menu ul li ul {
    top: 100px;
    border: 1px;
}
.elencoelementimenu {
    max-height: 400px;
    width: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}
div#menu ul li ul.elencoelementimenu li.elementimenu a:hover {
    text-decoration: underline;
    color: #00b7ff;
}
#contenitoreimg {
    width: 100%;
    height: 75%;
    overflow: hidden;
}
#finepag {
    width: 100%;
    background-color: #0a3b72;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}
#logo {
    margin: 15px 20px 15px 0px;
    line-height: 100px;
    float: right;
}
#imglogo {
    width: 200px;
    height: auto;
    display: block;
    line-height: 100px;
}
#dati {
    margin-left: 20%;
    margin-right: 20%;
    float: left;
}
#contatti {
    margin-left: 20%;
    margin-right: 20%;
}
.tdrsocial {
    border-collapse: collapse;
    border: 1px solid #0a3b72;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 30px;
}
#instagram, #facebook {
    height: 30px;
    width: 30px;
}